body {
    font-family: helvetica, arial, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 52px;
    margin-top: 1.5em;
}

h2 {
    margin-top: 3em;
}

p {
    line-height: 1.6em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#main {
    padding-top: 80px;
    text-align: center;
    background-image: url(./resources/Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #00010f;
}

#header {
    background-color:#00002a;
    height: 60px;
    color:#fff;
    position: fixed;
    width: 100%;
    border-bottom: solid 2px #9191a3;
    opacity: 0.8;
}

.nav {
    vertical-align: middle;
    float: right;
    margin: 0 auto;
    height: 100%;
    margin-top: 15px;
}

.nav li {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    color: #a7a7b4;
}

.nav li:hover {
  text-decoration: none;
  color: #f6f6fa;
  transition: all 0.5s ease-in-out;
}

footer {
    position: relative;
    height: 50px;
    background-color: #00002a;
    color: seashell !important;
}

#labelName, #labelemail, #labelphone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}