body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: seashell;
    background-color: #00001a;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

p {
    line-height: 16px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    
}

.title {
    background-image: url(C:\Users\Mika\git_practice\PortfolioProject\resources\tech-5090539_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    background-color: #00002a;
    border-bottom: ridge 1px #00003a;
    height: 60px;
    margin: 0;
}

.nav {
    float: right;
    margin: 0 auto;
    height: 100%;
}

.nav li {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    color: #4c4c55;
}

.nav li:hover {
  text-decoration: none;
  color: #404096
  transition: all 0.5s ease-in-out;
}

form {
    
    justify-content: center;
    align-items: center;
}

