body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: seashell;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#main {
    padding-top: 80px;
    justify-content: center;
    text-align: center;
    background-image: url(./resources/tech-5090539_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

p {
    line-height: 16px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10%;
    margin: 0 auto;
    text-align: center;
    
}


header {
    position: fixed;
    width: 100%;
    background-color: #00002a;
    border-bottom: ridge 1px #00003a;
    height: 60px;
    margin: 0 auto;
}

.nav {
    vertical-align: middle;
    float: right;
    margin: 0 auto;
    height: 100%;
}

.nav li {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    color: #9d9da7;
}

.nav li:hover {
  text-decoration: none;
  color: #2c2c9b;
  transition: all 0.5s ease-in-out;
}

form {
    
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0;
}

